dashboardFlow.json
[
   {
      "id":"8ad6c5e8.c86428",
      "type":"tab",
      "label":"Flow 1",
      "disabled":false,
      "info":""
   },
   {
      "id":"3396b362.86768c",
      "type":"inject",
      "z":"8ad6c5e8.c86428",
      "name":"Start",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"60",
      "crontab":"",
      "once":false,
      "onceDelay":"60",
      "x":110,
      "y":40,
      "wires":[
         [
            "db8e4f0b.72d9b"
         ]
      ]
   },
   {
      "id":"db8e4f0b.72d9b",
      "type":"http request",
      "z":"8ad6c5e8.c86428",
      "name":"NetcoolObjectServer Query",
      "method":"GET",
      "ret":"txt",
      "url":"http://192.168.1.1:8001/objectserver/restapi/alerts/status?collist=Node%2CAlertKey%2CAlertGroup%2CTicketGroup%2CCILocation%2COSCatogory%2CSummary%2CSerial%2CTicketNumber",
      "tls":"",
      "x":300,
      "y":40,
      "wires":[
         [
            "e95665f8.b73a98"
         ]
      ]
   },
   {
      "id":"b1c8024e.fcf358",
      "type":"debug",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":true,
      "tostatus":false,
      "complete":"true",
      "x":1070,
      "y":120,
      "wires":[

      ]
   },
   {
      "id":"e95665f8.b73a98",
      "type":"json",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":true,
      "x":130,
      "y":140,
      "wires":[
         [
            "1b68c214.f56476",
            "18f0d2b6.b71d65",
            "b6283ebc.0967d8",
            "b1c8024e.fcf358",
            "6e8f32ab.c514c4",
            "1835385f.97dfc8",
            "45a981a2.75eca8",
            "801426fb.4efc2"
         ]
      ]
   },
   {
      "id":"1b68c214.f56476",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"CheckTotalCount",
      "func":"msg.payload=msg.payload.rowset.rows.length;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":590,
      "y":80,
      "wires":[
         [
            "300b71ea.a17b9e",
            "28fe3e38.32fe72"
         ]
      ]
   },
   {
      "id":"300b71ea.a17b9e",
      "type":"ui_gauge",
      "z":"8ad6c5e8.c86428",
      "name":"Total Alerts",
      "group":"79c848db.8f6308",
      "order":2,
      "width":"6",
      "height":"4",
      "gtype":"wave",
      "title":"{{msg.topic}}",
      "label":"Alerts",
      "format":"{{msg.payload}}",
      "min":0,
      "max":"1000",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"1000",
      "seg2":"2000",
      "x":710,
      "y":20,
      "wires":[

      ]
   },
   {
      "id":"28fe3e38.32fe72",
      "type":"ui_chart",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "group":"79c848db.8f6308",
      "order":0,
      "width":"17",
      "height":"12",
      "label":"Event Count By TimeLine",
      "chartType":"line",
      "legend":"true",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":true,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#808080",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":870,
      "y":80,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"3c89c6ff.cf6122",
      "type":"summariser",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "label":"SummarisebyComponent",
      "topic":"",
      "outputs":1,
      "rules":[
         {
            "field":"AlertKey",
            "op":"group",
            "sep":","
         }
      ],
      "x":570,
      "y":260,
      "wires":[
         [
            "9720171c.8b2088"
         ]
      ]
   },
   {
      "id":"d645e51.2001218",
      "type":"summariser",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "label":"SummarisebySubComponent",
      "topic":"",
      "outputs":1,
      "rules":[
         {
            "field":"AlertGroup",
            "op":"group",
            "sep":","
         }
      ],
      "x":570,
      "y":320,
      "wires":[
         [
            "50d143d6.dd89b4"
         ]
      ]
   },
   {
      "id":"4dcfa22a.44e54c",
      "type":"summariser",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "label":"",
      "topic":"",
      "outputs":1,
      "rules":[
         {
            "field":"CILocation",
            "op":"group",
            "sep":","
         }
      ],
      "x":570,
      "y":380,
      "wires":[
         [
            "a1543665.3909b8"
         ]
      ]
   },
   {
      "id":"785c0f80.416038",
      "type":"summariser",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "label":"",
      "topic":"",
      "outputs":1,
      "rules":[
         {
            "field":"OSCatogory",
            "op":"group",
            "sep":","
         }
      ],
      "x":570,
      "y":440,
      "wires":[
         [
            "c61c78.70603388"
         ]
      ]
   },
   {
      "id":"a1543665.3909b8",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"SendPayload for chart",
      "func":"var msg2=msg;\nvar msg = {};\nfor(var serv in msg2.payload) {\n    msg.payload = msg2.payload[serv];\n    msg.topic = serv;\n    node.send(msg); \n}\n\n  ",
      "outputs":1,
      "noerr":0,
      "x":780,
      "y":380,
      "wires":[
         [
            "58549b99.b3bb94"
         ]
      ]
   },
   {
      "id":"c61c78.70603388",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"SendPayload for chart",
      "func":"var msg2=msg;\nvar msg = {};\nfor(var serv in msg2.payload) {\n    msg.payload = msg2.payload[serv];\n    msg.topic = serv;\n    node.send(msg); \n}\n\n  ",
      "outputs":1,
      "noerr":0,
      "x":780,
      "y":440,
      "wires":[
         [
            "2d91cda3.b37ee2"
         ]
      ]
   },
   {
      "id":"2d91cda3.b37ee2",
      "type":"ui_chart",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "group":"2ab5c546.2560e2",
      "order":2,
      "width":"11",
      "height":"9",
      "label":"Count by OSType",
      "chartType":"horizontalBar",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":1010,
      "y":440,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"58549b99.b3bb94",
      "type":"ui_chart",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "group":"2ab5c546.2560e2",
      "order":1,
      "width":"13",
      "height":"8",
      "label":"Count by Location",
      "chartType":"pie",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":1030,
      "y":380,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"a2dba14d.820c8",
      "type":"ui_chart",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "group":"9b3fac38.d0ce38",
      "order":1,
      "width":"8",
      "height":"7",
      "label":"Top 5 Volume by AlertKey",
      "chartType":"pie",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#90d083",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#d6d4d7"
      ],
      "useOldStyle":true,
      "x":1110,
      "y":260,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"18f0d2b6.b71d65",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"TicketFilter",
      "func":"if (!context.outputAlarms) {\n   context.outputAlarms = [];\n}\n\nfor(var serv in msg.payload.rowset.rows) {\n    \nif( msg.payload.rowset.rows[serv].TicketGroup !== '' && msg.payload.rowset.rows[serv].TicketNumber !== null && msg.payload.rowset.rows[serv].TicketNumber !== '') {\n \n   context.outputAlarms.push(msg.payload.rowset.rows[serv]);\n   \n}\n   \n}\n\n\nmsg.payload = context.outputAlarms;\nreturn msg; \n",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":160,
      "wires":[
         [
            "c08f3f63.9efc18"
         ]
      ]
   },
   {
      "id":"c08f3f63.9efc18",
      "type":"summariser",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "label":"summarisebyOstype",
      "topic":"",
      "outputs":1,
      "rules":[
         {
            "field":"TicketGroup",
            "op":"group",
            "sep":","
         }
      ],
      "x":790,
      "y":160,
      "wires":[
         [
            "c8a1906f.1aa5e"
         ]
      ]
   },
   {
      "id":"c8a1906f.1aa5e",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"SendPayload for chart",
      "func":"var msg2=msg;\nvar msg = {};\nfor(var serv in msg2.payload) {\n    msg.payload = msg2.payload[serv];\n    msg.topic = serv;\n    node.send(msg); \n}\n\n  ",
      "outputs":1,
      "noerr":0,
      "x":1020,
      "y":160,
      "wires":[
         [
            "bafebdb3.a970b"
         ]
      ]
   },
   {
      "id":"bafebdb3.a970b",
      "type":"ui_chart",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "group":"9b3fac38.d0ce38",
      "order":2,
      "width":"9",
      "height":"7",
      "label":"Count by TicketGroup",
      "chartType":"pie",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":1240,
      "y":160,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"9720171c.8b2088",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"Sort",
      "func":"\nvar msg2 = {};\n\nfunction sortObject(obj) {\n    var arr = [];\n    for (var prop in obj) {\n        if (obj.hasOwnProperty(prop)) {\n            arr.push({\n                'key': prop,\n                'value': obj[prop]\n            });\n        }\n    }\n    arr.sort(function(a, b) { return a.value - b.value; });\n    //arr.sort(function(a, b) { a.value.toLowerCase().localeCompare(b.value.toLowerCase()); }); //use this to sort as strings\n    return arr; // returns array\n}\nmsg2.payload = sortObject(msg.payload);\n\n\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "x":710,
      "y":260,
      "wires":[
         [
            "f329d970.2f439"
         ]
      ]
   },
   {
      "id":"f329d970.2f439",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"SelectTopFive",
      "func":"var msg2 = {};\n\nfor (var i=msg.payload.length -1 ; i > msg.payload.length - 6 ; i--) {\n  msg2.payload = msg.payload[i].value;\n  msg2.topic = msg.payload[i].key;\n  node.send(msg2); \n}\n//msg.payload = msg.payload[0].key;\n//return msg ;",
      "outputs":1,
      "noerr":0,
      "x":880,
      "y":260,
      "wires":[
         [
            "a2dba14d.820c8"
         ]
      ]
   },
   {
      "id":"50d143d6.dd89b4",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"Sort",
      "func":"\nvar msg2 = {};\n\nfunction sortObject(obj) {\n    var arr = [];\n    for (var prop in obj) {\n        if (obj.hasOwnProperty(prop)) {\n            arr.push({\n                'key': prop,\n                'value': obj[prop]\n            });\n        }\n    }\n    arr.sort(function(a, b) { return a.value - b.value; });\n    //arr.sort(function(a, b) { a.value.toLowerCase().localeCompare(b.value.toLowerCase()); }); //use this to sort as strings\n    return arr; // returns array\n}\nmsg2.payload = sortObject(msg.payload);\n\n\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "x":730,
      "y":320,
      "wires":[
         [
            "c2621ddf.eab6c8"
         ]
      ]
   },
   {
      "id":"c2621ddf.eab6c8",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"SelectTopFive",
      "func":"var msg2 = {};\n\nfor (var i=msg.payload.length -1 ; i > msg.payload.length - 6 ; i--) {\n  msg2.payload = msg.payload[i].value;\n  msg2.topic = msg.payload[i].key;\n  node.send(msg2); \n}\nmsg = {};\n//msg.payload = msg.payload[0].key;\n//return msg ;",
      "outputs":1,
      "noerr":0,
      "x":880,
      "y":320,
      "wires":[
         [
            "1e442ea9.b50061"
         ]
      ]
   },
   {
      "id":"1e442ea9.b50061",
      "type":"ui_chart",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "group":"9b3fac38.d0ce38",
      "order":0,
      "width":"9",
      "height":"8",
      "label":"Top 5 Volume by  AlertGroup",
      "chartType":"horizontalBar",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":1110,
      "y":320,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"b6283ebc.0967d8",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"FilterAlertsJsonArray",
      "func":"msg.payload=msg.payload.rowset.rows;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":300,
      "y":200,
      "wires":[
         [
            "307f7558.dd355a"
         ]
      ]
   },
   {
      "id":"307f7558.dd355a",
      "type":"summariser",
      "z":"8ad6c5e8.c86428",
      "name":"",
      "label":"Summarize By Node",
      "topic":"",
      "outputs":1,
      "rules":[
         {
            "field":"Node",
            "op":"group",
            "sep":","
         }
      ],
      "x":570,
      "y":200,
      "wires":[
         [
            "decc4ef0.93973"
         ]
      ]
   },
   {
      "id":"decc4ef0.93973",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"Sort",
      "func":"\nvar msg2 = {};\n\nfunction sortObject(obj) {\n    var arr = [];\n    for (var prop in obj) {\n        if (obj.hasOwnProperty(prop)) {\n            arr.push({\n                'key': prop,\n                'value': obj[prop]\n            });\n        }\n    }\n    arr.sort(function(a, b) { return a.value - b.value; });\n    //arr.sort(function(a, b) { a.value.toLowerCase().localeCompare(b.value.toLowerCase()); }); //use this to sort as strings\n    return arr; // returns array\n}\nmsg2.payload = sortObject(msg.payload);\n\n\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "x":710,
      "y":200,
      "wires":[
         [
            "3559305.19854d"
         ]
      ]
   },
   {
      "id":"3559305.19854d",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"SelectTopFive",
      "func":"var outputMsgs = [];\n\n\nfor (var i=msg.payload.length -1 ; i > msg.payload.length - 6 ; i--) {\n //for (var w in words) {\n    outputMsgs.push({\"name\":msg.payload[i].key,\"vale\":msg.payload[i].value});\n\n}\nmsg.payload =  outputMsgs;\nreturn msg;\n//msg.payload = msg.payload[0].key;\n",
      "outputs":1,
      "noerr":0,
      "x":880,
      "y":200,
      "wires":[
         [
            "c147ad5f.9d9678"
         ]
      ]
   },
   {
      "id":"c147ad5f.9d9678",
      "type":"template",
      "z":"8ad6c5e8.c86428",
      "name":"css",
      "field":"style",
      "fieldType":"msg",
      "format":"html",
      "syntax":"mustache",
      "template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */",
      "x":1050,
      "y":200,
      "wires":[
         [
            "60b173f2.e1ee84"
         ]
      ]
   },
   {
      "id":"60b173f2.e1ee84",
      "type":"ui_template",
      "z":"8ad6c5e8.c86428",
      "group":"79c848db.8f6308",
      "name":"",
      "order":0,
      "width":"5",
      "height":"10",
      "format":"<style>\n    {{msg.style}}\n</style>\nTop Five Nodes\n<table>\n    <tr><td>Node</td><td>Count</td></tr>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.vale }}</td>\n  </tr>\n</table>",
      "storeOutMessages":false,
      "fwdInMessages":true,
      "templateScope":"local",
      "x":1220,
      "y":200,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"6e8f32ab.c514c4",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"FilterAlertsJsonArray",
      "func":"msg.payload=msg.payload.rowset.rows;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":300,
      "y":260,
      "wires":[
         [
            "3c89c6ff.cf6122"
         ]
      ]
   },
   {
      "id":"1835385f.97dfc8",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"FilterAlertsJsonArray",
      "func":"msg.payload=msg.payload.rowset.rows;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":300,
      "y":320,
      "wires":[
         [
            "d645e51.2001218"
         ]
      ]
   },
   {
      "id":"45a981a2.75eca8",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"FilterAlertsJsonArray",
      "func":"msg.payload=msg.payload.rowset.rows;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":300,
      "y":380,
      "wires":[
         [
            "4dcfa22a.44e54c"
         ]
      ]
   },
   {
      "id":"801426fb.4efc2",
      "type":"function",
      "z":"8ad6c5e8.c86428",
      "name":"FilterAlertsJsonArray",
      "func":"msg.payload=msg.payload.rowset.rows;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":300,
      "y":440,
      "wires":[
         [
            "785c0f80.416038"
         ]
      ]
   },
   {
      "id":"79c848db.8f6308",
      "type":"ui_group",
      "z":"",
      "name":"Alert Volume",
      "tab":"d6889d13.fb10b",
      "order":1,
      "disp":true,
      "width":"27",
      "collapse":true
   },
   {
      "id":"2ab5c546.2560e2",
      "type":"ui_group",
      "z":"",
      "name":"Summary by Environment",
      "tab":"d6889d13.fb10b",
      "order":3,
      "disp":true,
      "width":"27",
      "collapse":true
   },
   {
      "id":"9b3fac38.d0ce38",
      "type":"ui_group",
      "z":"",
      "name":"Summary by Ticket Data",
      "tab":"d6889d13.fb10b",
      "order":2,
      "disp":true,
      "width":"27",
      "collapse":true
   },
   {
      "id":"d6889d13.fb10b",
      "type":"ui_tab",
      "z":"",
      "name":"Alert Stats From Netcool",
      "icon":"dashboard",
      "order":2
   }
]